<div class="page-header">
  <h1 class="text-center">欢迎登录实训管理系统</h1></div>

<div class="container-fluid">
  <div class="row-fluid">

    <div class="form-container well">
      <%= form_tag login_url, :class => 'form-horizontal' do %>
          <fieldset>
            <legend>请登录</legend>
            <div class="control-group">
              <%= label_tag :account, '用户名:', :class => 'control-label' %>

              <div class="controls">
                <%= text_field_tag :account, params[:account] %>
              </div>
            </div>
            <div class="control-group">
              <%= label_tag :password, '密码:', :class => 'control-label' %>

              <div class="controls">
                <%= password_field_tag :password, params[:password] %>
              </div>
            </div>
            <div class="controls">
              <%= submit_tag '登录', :class => 'btn btn-primary' %>
            </div>
          </fieldset>
      <% end %>
    </div>
  </div>
</div>