<%- model_class = FacilityReason -%>
<div class="page-header">
  <h1>编辑出入库事由</h1>
</div>
<%= form_for @facility_reason, :remote => true, :html => {:class => 'form-horizontal'} do |f| %>
    <% if @facility_reason.errors.any? %>
        <div id="error_explanation">
          <h2><%= t('errors.template.header',
                    :model => @facility_reason.class.model_name.human,
                    :count => @facility_reason.errors.count) %>
          </h2>
          <ul>
            <% @facility_reason.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="control-group">
      <%= f.label '出/入库', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :in_or_out, :readonly => true %>
      </div>
    </div>
<% end %>
<%= form_for @facility_reason, :remote => true, :html => {:class => 'form-horizontal'} do |f| %>
    <div class="control-group">
      <%= f.label '原因', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :reason, :class => 'text_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit '确定', :class => 'btn btn-primary', :disable_with => '请稍等...' %>
      <%= link_to '取消',
                  facility_reasons_path, :class => 'btn', :remote => true %>
    </div>
<% end %>
