<%- model_class = FacilityReason -%>
<div class="page-header">
  <h1>出入库原因</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>原因:</strong></dt>
  <dd><%= @facility_reason.reason %></dd>
  <dt><strong>出/入库:</strong></dt>
  <dd><%= @facility_reason.in_or_out %></dd>
  <dt><strong>属性:</strong></dt>
  <dd><%= @facility_reason.systematic_name %></dd>
</dl>

<div class="form-actions">
  <%= link_to '返回',
              facility_reasons_path, :class => 'btn'  %>
  <%= link_to '编辑',
              edit_facility_reason_path(@facility_reason), :class => 'btn btn-primary' %>
  <%= link_to '删除',
              facility_reason_path(@facility_reason),
              :method => 'delete',
              :data => { :confirm => '确认删除 '+@facility_reason.reason+'？' },
              :class => 'btn btn-danger' %>
</div>
