<%= form_for @user_role_mapping, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :user_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :user_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :role_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :role_id, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit '确定', :class => 'btn btn-primary', :disable_with => '请稍等...' %>
    <%= link_to '取消',
                user_role_mappings_path, :class => 'btn' %>
  </div>
<% end %>
