<%- model_class = UserRoleMapping -%>
<div class="page-header">
  <h1>用户权限管理</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:role_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @user_role_mappings.each do |user_role_mapping| %>
      <tr>
        <td><%= link_to user_role_mapping.id, user_role_mapping_path(user_role_mapping) %></td>
        <td><%= user_role_mapping.user_id %></td>
        <td><%= user_role_mapping.role_id %></td>
        <td><%=l user_role_mapping.created_at %></td>
        <td>
          <%= link_to '编辑',
                      edit_user_role_mapping_path(user_role_mapping), :class => 'btn btn-mini' %>
          <%= link_to '删除',
                      user_role_mapping_path(user_role_mapping),
                      :method => :delete,
                      :data => { :confirm => '确认删除？' },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '新建',
            new_user_role_mapping_path,
            :class => 'btn btn-primary' %>
