<div class="page-header">
  <h1>实训库存预警</h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th NoWrap>资产名称</th>
    <th NoWrap>单位</th>
    <th NoWrap>当前库存</th>
    <th NoWrap>预警线</th>
  </tr>
  </thead>
  <tbody>
  <% @candidates.each do |facility| %>
      <tr>
        <td NoWrap><%= facility.name %></td>
        <td NoWrap><%= facility.unit %></td>
        <td NoWrap><%= facility.facility_total.total %></td>
        <td NoWrap><%= facility.alert_amount %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="form-actions">
  <%= link_to '生成采购表',
              '#',
              :confirm => '将采购列表导出到excel',
              :class => 'btn' %>
</div>