<%- model_class = Stocking -%>
<div class="page-header">
  <h1>资产盘点</h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th NoWrap>标题</th>
    <th NoWrap>开始时间</th>
    <th NoWrap>结束时间</th>
    <th NoWrap>负责人</th>
    <th NoWrap>状态</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td NoWrap><%= @stocking.title %></td>
    <td NoWrap><%= @stocking.start_time.to_s(:db) %></td>
    <td NoWrap><%= @stocking.end_time.nil? ? '' : @stocking.end_time.to_s(:db) %></td>
    <td NoWrap><%= ApplicationHelper.get_teacher_name_by_id(@stocking.owner_id) %></td>
    <td NoWrap><%= @stocking.status_name %></td>
  </tr>
  </tbody>
</table>

<%= nested_form_for @stocking, :html => {:class => 'form-horizontal', :remote => true} do |s| %>
    <% if @stocking.errors.any? %>
        <div id="error_explanation">
          <h2><%= t('errors.template.header',
                    :model => @stocking.class.model_name.human,
                    :count => @stocking.errors.count) %>
          </h2>
          <ul>
            <% @stocking.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <h4>盘点结果</h4>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>资产名称</th>
        <th>资产编号</th>
        <th>应有库存</th>
        <th>实际库存</th>
      </tr>
      </thead>
      <tbody>
      <%= s.fields_for :stocking_details do |d| %>
          <tr>
            <% stc = d.object %>
            <td><%= stc.facility.name %></td>
            <td><%= stc.facility.asset_id %></td>
            <td><%= stc.old_amount %></td>
            <td><%= d.number_field :new_amount, :class => 'number_field' %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>备注</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= s.text_area :comments, :class => 'text_area', :rows => 10 %></td>
      </tr>
      </tbody>
    </table>
    <div class="form-actions">
      <%= link_to '导出',
                  stocking_stocking_path(format: 'xls'),
                  :confirm => '将资产盘点表导出到excel表格?',
                  :class => 'btn' %>
      <%= s.submit '保存',
                   :class => 'btn btn-primary', :disable_with => '请稍等...',
                   :name => 'update_only' %>
      <%= link_to '退出',
                  stockings_path, :class => 'btn', :remote => true %>
      <%= s.submit '完成盘点',
                   :class => 'btn btn-info',
                   :confirm => '资产盘点结束之后将无法修改，确认盘点结束？',
                   :disable_with => '请稍等...',
                   :name => 'update_and_end' %>
    </div>
<% end %>