<%- model_class = Stocking -%>
<div class="page-header">
  <h1>资产盘点详情</h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th NoWrap>标题</th>
    <th NoWrap>开始时间</th>
    <th NoWrap>结束时间</th>
    <th NoWrap>负责人</th>
    <th NoWrap>状态</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td NoWrap><%= @stocking.title %></td>
    <td NoWrap><%= @stocking.start_time.strftime '%Y-%m-%d %H:%M:%S' %></td>
    <td NoWrap><%= @stocking.end_time.nil? ? '' : @stocking.end_time.strftime '%Y-%m-%d %H:%M:%S' %></td>
    <td NoWrap><%= ApplicationHelper.get_teacher_name_by_id(@stocking.owner_id) %></td>
    <td NoWrap><%= @stocking.status_name %></td>
  </tr>
  </tbody>
</table>
<table class="table table-striped">
  <thead>
  <tr>
    <th>备注</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= @stocking.comments %></td>
  </tr>
  </tbody>
</table>
<h3>盘点结果</h3>
<table class="table table-striped">
  <thead>
  <tr>
    <th>资产名称</th>
    <th>资产编号</th>
    <th>应有库存</th>
    <th>实际库存</th>
  </tr>
  </thead>
  <tbody>
  <% @stocking.stocking_details.each do |s| %>
      <tr>
        <td><%= s.facility.name %></td>
        <td><%= s.facility.asset_id %></td>
        <td><%= s.old_amount %></td>
        <td><%= s.new_amount %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<div class="form-actions">
  <%= link_to '导出',
              stocking_stocking_path(format: 'xls'),
              :confirm => '将资产盘点表导出到excel',
              :class => 'btn' %>
  <%= link_to '返回',
              stockings_path, :class => 'btn', :remote => true %>
  <%= link_to '盘点',
              edit_stocking_path(@stocking), :class => 'btn btn-primary', :remote => true %>
</div>
