<%- model_class = CourseReview -%>
<script type="text/javascript">
    $(function () {
        $('#bdp').datepicker({autoclose: true}).on('changeDate', function (ev) {
            $(this).datepicker('hide');
        });
        $('#edp').datepicker({autoclose: true}).on('changeDate', function (ev) {
            $(this).datepicker('hide');
        });
    });
</script>

<div class="page-header">
  <h1>实训课程审批</h1>
</div>
<div class="controls-row">
  <%= form_tag '/course_reviews', :method => 'get', :remote => true %>
  <div class="tools">
    <strong>开始</strong><%= text_field_tag :bdt, @begin_date.to_date, :class => 'text_field', :id => 'bdp', :style => 'width:120px;' %>
    <strong>结束</strong><%= text_field_tag :edt, @end_date.to_date, :class => 'text_field', :id => 'edp' ,:style => 'width:120px;'%>
    <strong>审核</strong><%= select_tag :cdt, options_for_select(%w(全部 未审核 审核通过 审核不通过), @status) %>
    <%= submit_tag '过滤', :class => 'btn btn-primary' %>
  </div>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th NoWrap>日期</th>
    <th NoWrap>星期</th>
    <th NoWrap>课时</th>
    <th NoWrap>课程名称</th>
    <th NoWrap>教师姓名</th>
    <th NoWrap>教室</th>
    <th NoWrap>状态</th>
    <th NoWrap>审核意见</th>
    <th NoWrap>操作</th>
  </tr>
  </thead>
  <tbody>
  <% @course_reviews.each do |review| %>
      <tr>
        <td NoWrap><%= review.course.date %></td>
        <td NoWrap><%= CommonController.get_weekday(review.course.date.wday) %></td>
        <td NoWrap><%= review.course.idx %></td>
        <td><%= review.course.title %></td>
        <td NoWrap><%= ApplicationHelper.get_teacher_name_by_id(review.course.teacher_id) %></td>
        <td><%= truncate(strip_tags(review.course.field.name), :length => 20) %></td>
        <td NoWrap><%= review.get_status %></td>
        <td><%= truncate(strip_tags(review.comments), :length => 20) %></td>
        <td NoWrap><%= link_to '查看',
                               course_review_path(review), :class => 'btn btn-mini', :remote => true %>
          <%= link_to '审批',
                      edit_course_review_path(review), :class => 'btn btn-mini btn-primary', :remote => true %>
      </tr>
  <% end %>
  </tbody>
</table>
<%= ajax_will_paginate @course_reviews %>
