<script type="text/javascript">
    $(function () {
        $('#dp_begin')
                .datepicker()
                .on('changeDate', function (ev) {
                    update_fields();
                    $(this).datepicker('hide');
                });
        $('#dp_end')
                .datepicker()
                .on('changeDate', function (ev) {
                    update_fields()
                    $(this).datepicker('hide');
                });
    });

    function update_fields() {
        var url = '/scheduled_courses/get_available_fields'
                + '?wday=' + $('#ws').val()
                + '&idx=' + $('#ip').val()
                + '&bd=' + $('#dp_begin').val()
                + '&ed=' + $('#dp_end').val()
                + '&sid=' + $('#sid').val()
        $.ajax({
            url: url,
            success: function (data) {
                var select = document.getElementById('scheduled_course_field_id');
                select.options.length = 0;
                for (var i = 0; i < data.length; i++) {
                    var d = data[i];
                    select.options.add(new Option(d[1], d[0]))
                }
            }
        });
    }
</script>

<%= nested_form_for @scheduled_course, :html => {:class => 'form-horizontal', :remote => true} do |f| %>
    <% if @scheduled_course.errors.any? %>
        <div id="error_explanation">
          <h2><%= t('errors.template.header',
                    :model => @scheduled_course.class.model_name.human,
                    :count => @scheduled_course.errors.count) %>
          </h2>
          <ul>
            <% @scheduled_course.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="control-group">
      <%= f.label '教师', :class => 'control-label' %>
      <div class="controls">
        <%= f.collection_select :teacher_id, User.all_teacher, :id, :name, :prompt => '请选择教师' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label '开始日期', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :begin_date, :class => 'text_field', :id => 'dp_begin' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label '结束日期', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :end_date, :class => 'text_field', :id => 'dp_end' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label '星期', :class => 'control-label' %>
      <div class="controls">
        <%= f.select :wday, {
                '星期日' => 0,
                '星期一' => 1,
                '星期二' => 2,
                '星期三' => 3,
                '星期四' => 4,
                '星期五' => 5,
                '星期六' => 6
        }, {:prompt => '请选择星期'}, {:id => 'ws', :onchange => 'update_fields();'} %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label '课时', :class => 'control-label' %>
      <div class="controls">
        <%= f.select :idx, (1..Course.course_num_per_day), {:prompt => '请选择课时'}, {:id => 'ip', :onchange => 'update_fields();'} %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label '班级', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :cls, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label '课程名称', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :title, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label '场地', :class => 'control-label' %>
      <div class="controls">
        <%= f.collection_select :field_id, @fields, :id, :name %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label '课程需要材料', :class => 'control-label' %>
      <div class="controls">
        <%= f.fields_for :scheduled_facilities do |sf| %>
            <%= sf.collection_select :facility_id, Facility.all, :id, :name, :prompt => '请选择材料' %>
            <%= sf.link_to_remove '删除' %>
            <br/>
        <% end %>
        <%= f.link_to_add '添加材料', :scheduled_facilities %>
      </div>
    </div>
    <div style="display: none">
      <%= f.text_field :id, :id => 'sid' %>
    </div>
    <div class="form-actions">
      <%= f.submit '提交', :class => 'btn btn-primary', :disable_with => '请稍等...' %>
      <%= link_to '取消',
                  scheduled_courses_path, :class => 'btn', :remote => true %>
    </div>
<% end %>
