<%- model_class = ScheduledCourse -%>
<div class="page-header">
  <h1>排课管理</h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th NoWrap>教师</th>
    <th NoWrap>班级</th>
    <th NoWrap>开始时间</th>
    <th NoWrap>结束时间</th>
    <th NoWrap>星期</th>
    <th NoWrap>课时</th>
    <th NoWrap>课程名称</th>
    <th NoWrap>教室</th>
    <th NoWrap>操作</th>
  </tr>
  </thead>
  <tbody>
  <% @scheduled_courses.each do |scheduled_course| %>
      <tr>
        <td NoWrap><%= ApplicationHelper.get_teacher_name_by_id(scheduled_course.teacher_id) %></td>
        <td NoWrap><%= scheduled_course.cls %></td>
        <td NoWrap><%= scheduled_course.begin_date %></td>
        <td NoWrap><%= scheduled_course.end_date %></td>
        <td NoWrap><%= scheduled_course.weekday %></td>
        <td NoWrap><%= scheduled_course.idx %></td>
        <td NoWrap><%= scheduled_course.title %></td>
        <td NoWrap><%= scheduled_course.field.name %></td>
        <td NoWrap>
          <%= link_to '查看',
                      scheduled_course_path(scheduled_course), :class => 'btn btn-mini', :remote => true %>
          <%= link_to '修改',
                      edit_scheduled_course_path(scheduled_course), :class => 'btn btn-mini btn-primary', :remote => true %>
          <%= link_to '删除',
                      scheduled_course_path(scheduled_course),
                      :method => :delete,
                      :data => {:confirm => '确认删除？'},
                      :class => 'btn btn-mini btn-danger', :remote => true %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= ajax_will_paginate @scheduled_courses %>

<%= link_to '添加',
            new_scheduled_course_path,
            :class => 'btn btn-primary', :remote => true %>
