<%- model_class = ScheduledCourse -%>
<div class="page-header">
  <h1>排课信息</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>教师:</strong></dt>
  <dd><%= ApplicationHelper.get_teacher_name_by_id(@scheduled_course.teacher_id) %></dd>
  <dt><strong>班级:</strong></dt>
  <dd><%= @scheduled_course.cls %></dd>
  <dt><strong>开始时间:</strong></dt>
  <dd><%= @scheduled_course.begin_date %></dd>
  <dt><strong>结束时间:</strong></dt>
  <dd><%= @scheduled_course.end_date %></dd>
  <dt><strong>星期:</strong></dt>
  <dd><%= @scheduled_course.weekday %></dd>
  <dt><strong>课时:</strong></dt>
  <dd><%= @scheduled_course.idx %></dd>
  <dt><strong>课程名称:</strong></dt>
  <dd><%= @scheduled_course.title %></dd>
  <dt><strong>教室:</strong></dt>
  <dd><%= @scheduled_course.field.name %></dd>
  <dt><strong>使用材料:</strong></dt>
  <% @scheduled_course.scheduled_facilities.each do |sf| %>
      <dd><%= sf.facility.name %></dd>
  <% end %>
</dl>

<div class="form-actions">
  <%= link_to '返回',
              scheduled_courses_path, :class => 'btn', :remote => true %>
  <%= link_to '修改',
              edit_scheduled_course_path(@scheduled_course), :class => 'btn btn-primary', :remote => true %>
  <%= link_to '删除',
              scheduled_course_path(@scheduled_course),
              :method => 'delete',
              :data => {:confirm => '确认删除？'},
              :class => 'btn btn-danger', :remote => true %>
</div>
