<%- model_class = FacilityReturn -%>
<script type="text/javascript">
    $(function () {
        $('#dp').datepicker({autoclose: true}).on('changeDate', function (ev) {
            $(this).datepicker('hide');
        });
    });
</script>
<div class="page-header">
  <h1>材料出入库管理</h1>
</div>
<div class="controls-row">
  <%= form_tag facility_returns_path, :method => 'get', :remote => true %>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>日期</th>
      <th>状态</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><%= text_field_tag  :dt, @date.to_date, :class => 'text_field', :id => 'dp' %></td>
      <td style="display: none"><%= select_tag :sta, options_from_collection_for_select(CourseReview.get_status_simple_selectors, :id, :name, @status) %></td>
      <td><%= submit_tag '过滤', :class => 'btn btn-primary' %></td>
    </tr>
    </tbody>
  </table>
</div>
<div class="control-group">

</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th>日期</th>
    <th>星期</th>
    <th>课时</th>
    <th>课程名称</th>
    <th>教师姓名</th>
    <th>教室</th>
    <th>状态</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <% @courses.each do |course| %>
      <tr>
        <td><%= course.date %></td>
        <td><%= course.weekday %></td>
        <td><%= course.idx %></td>
        <td><%= course.title %></td>
        <td><%= ApplicationHelper.get_teacher_name_by_id(course.teacher_id) %></td>
        <td><%= course.field.name %></td>
        <td><%= course.course_review.get_status %></td>
        <td NoWrap><%= link_to '查看',
                               facility_return_path(course), :class => 'btn btn-mini', :remote => true %>
          <%= link_to '操作',
                      edit_facility_return_path(course), :class => 'btn btn-mini btn-primary', :remote => true %>
      </tr>
  <% end %>
  </tbody>
</table>
<%= ajax_will_paginate @courses %>