<%- model_class = FacilityReturn -%>
<script type="text/javascript">
    $(function () {
        $('#dp').datepicker({autoclose: true}).on('changeDate', function (ev) {
            $(this).datepicker('hide');
        });
    });
</script>
<div class="page-header">
  <h1>未归还材料列表</h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th>日期</th>
    <th>星期</th>
    <th>课时</th>
    <th>课程名称</th>
    <th>教师姓名</th>
    <th>教室</th>
    <th>状态</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <% @courses.each do |course| %>
      <tr>
        <td><%= course.date %></td>
        <td><%= course.weekday %></td>
        <td><%= course.idx %></td>
        <td><%= course.title %></td>
        <td><%= ApplicationHelper.get_teacher_name_by_id(course.teacher_id) %></td>
        <td><%= course.field.name %></td>
        <td><%= course.course_review.get_status %></td>
        <td NoWrap><%= link_to '查看',
                               facility_return_path(course, :fo => true),
                               :class => 'btn btn-mini',
                               :remote => true %>
          <%= link_to '操作',
                      edit_facility_return_path(course, :fo => true),
                      :class => 'btn btn-mini btn-primary',
                      :remote => true %>
      </tr>
  <% end %>
  </tbody>
</table>
<%= ajax_will_paginate @courses %>