<%- model_class = User -%>
<div class="page-header">
  <h1>用户列表</h1>
</div>
<%= link_to '新建用户',
            new_user_path,
            :class => 'btn btn-primary',
            :remote => true %>

<div class="controls-row">
  <%= form_tag users_path, :method => 'get', :remote => true do %>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>账号</th>
          <th>用户名</th>
          <th>权限</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><%= text_field_tag :acct, @filter_acct %></td>
          <td><%= text_field_tag :usn, @filter_usn %></td>
          <td><%= select_tag :role, options_from_collection_for_select(Role.get_simple_selectors, :id, :name, @filter_role) %></td>
          <td><%= submit_tag '查找', :class => 'btn btn-primary' %></td>
        </tr>
        </tbody>
      </table>
  <% end %>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th>账号</th>
    <th>用户名</th>
    <th>系统管理员</th>
    <th>学校领导</th>
    <th>实训管理员</th>
    <th>教职人员</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.account %></td>
        <td><%= user.name %></td>
        <td><% if user.is_sys_admin %>&radic;<% end %></td>
        <td><% if user.is_school_admin %>&radic;<% end %></td>
        <td><% if user.is_store_admin %>&radic;<% end %></td>
        <td><% if user.is_teacher %>&radic;<% end %></td>
        <td>
          <%= link_to '查看',
                      user_path(user), :class => 'btn btn-mini', :remote => true %>
          <%= link_to '修改',
                      edit_user_path(user), :class => 'btn btn-mini btn-primary', :remote => true %>
          <%= link_to '重置密码',
                      reset_password_user_path(user), :class => 'btn btn-mini btn-primary', :remote => true %>
          <%= link_to '删除',
                      user_path(user),
                      :method => :delete,
                      :data => {:confirm => '确认删除用户？'},
                      :class => 'btn btn-mini btn-danger',
                      :remote => true %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= ajax_will_paginate @users %>
