<%- model_class = User -%>
<div class="page-header">
  <h1>用户信息</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>账号:</strong></dt>
  <dd><%= @user.account %></dd>
  <dt><strong>用户名:</strong></dt>
  <dd><%= @user.name %></dd>
  <dt><strong>权限:</strong></dt>
  <% if (!@user.user_role_mappings.any?) %>
      <dd>未分配权限</dd>
  <% end %>
  <% @user.user_role_mappings.each do |urm| %>
      <dd><%= urm.role.friendly_name %></dd>
  <% end %>
</dl>

<div class="form-actions">
  <%= link_to '返回',
              users_path, :class => 'btn', :remote => true  %>
  <%= link_to '修改',
              edit_user_path(@user), :class => 'btn btn-primary', :remote => true %>
  <%= link_to '重置密码',
              reset_password_user_path(@user), :class => 'btn btn-primary', :remote => true %>
  <%= link_to '删除',
              user_path(@user),
              :method => 'delete',
              :data => { :confirm => '确认删除用户？' },
              :class => 'btn btn-danger', :remote => true %>
</div>
