<%- model_class = Department -%>
<div class="page-header">
  <h1>部门列表</h1>
</div>

<%= link_to '添加部门',
            new_department_path,
            :class => 'btn btn-primary', :remote => true %>

<table class="table table-striped">
  <thead>
  <tr>
    <th NoWrap>名称</th>
    <th NoWrap>简介</th>
    <th NoWrap>操作</th>
  </tr>
  </thead>
  <tbody>
  <% @departments.each do |department| %>
      <tr>
        <td><%= department.name %></td>
        <td><%= truncate(department.description, :length => 50) %></td>
        <td>
          <%= link_to '查看',
                      department_path(department), :class => 'btn btn-mini', :remote => true %>
          <%= link_to '编辑',
                      edit_department_path(department), :class => 'btn btn-mini btn-primary', :remote => true %>
          <%= link_to '删除',
                      department_path(department),
                      :method => :delete,
                      :data => {:confirm => '确认删除？'},
                      :class => 'btn btn-mini btn-danger', :remote => true %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @departments %>
