<%- model_class = Facility -%>
<div class="page-header">
  <h1><a href="/facilities" style="text-decoration: none">实训资产列表</a></h1>
</div>
<div class="controls-row">
  <%= form_tag facilities_path, :method => 'get', :remote => true do %>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>部门</th>
          <th>分类</th>
          <th>类型</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><%= select_tag :dep, options_from_collection_for_select(Department.get_simple_selectors, :id, :name, @filter_department) %></td>
          <td><%= select_tag :cat, options_from_collection_for_select(FacilityCategory.get_simple_selectors, :id, :name, @filter_category) %></td>
          <td><%= select_tag :typ, options_from_collection_for_select(Facility.get_simple_selectors, :id, :name, @filter_type) %></td>
          <td><%= submit_tag '过滤', :class => 'btn btn-primary' %></td>
        </tr>
        </tbody>
      </table>
  <% end %>
</div>
<div class="controls-row">
  <%= form_tag facilities_path, :method => 'get', :remote => true do %>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>材料名称</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><%= text_field_tag :search, params[:search], :class => 'text_field' %></td>
          <td><%= submit_tag '搜索', :class => 'btn btn-primary' %></td>
        </tr>
        </tbody>
      </table>
  <% end %>
</div>

<%= link_to '添加',
            new_facility_path,
            :class => 'btn btn-primary', :remote => true %>
<table class="table table-striped">
  <thead>
  <tr>
    <th NoWrap>名称</th>
    <th NoWrap>单位</th>
    <th NoWrap>数量</th>
    <th NoWrap>预警线</th>
    <th NoWrap>类型</th>
    <th NoWrap>分类</th>
    <th NoWrap>部门</th>
    <th NoWrap>资产编号</th>
    <th NoWrap>一次性</th>
    <th NoWrap>单价</th>
    <th NoWrap>操作</th>
  </tr>
  </thead>
  <tbody>
  <% @facilities.each do |facility| %>
      <tr>
        <td NoWrap><%= facility.name %></td>
        <td NoWrap><%= facility.unit %></td>
        <td NoWrap><%= facility.facility_total.total %></td>
        <td NoWrap><%= facility.alert_amount %></td>
        <td NoWrap><%= facility.facility_type_name %></td>
        <td NoWrap><%= facility.facility_category.name %></td>
        <td NoWrap><%= facility.department.name %></td>
        <td NoWrap><%= truncate(strip_tags(facility.asset_id), :length => 100) %></td>
        <td NoWrap><%= facility.if_one_time_name %></td>
        <td NoWrap><%= facility.unit_price %></td>
        <td NoWrap><%= link_to '查看',
                               facility_path(facility), :class => 'btn btn-mini', :remote => true %>
          <%= link_to '修改',
                      edit_facility_path(facility), :class => 'btn btn-mini btn-primary', :remote => true %>
          <%= link_to '删除',
                      facility_path(facility),
                      :method => :delete,
                      :confirm => '确认删除 '+facility.name+'?',
                      :class => 'btn btn-mini btn-danger', :remote => true %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= ajax_will_paginate @facilities %>
