<%- model_class = Plant -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @plant.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @plant.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status_id) %>:</strong></dt>
  <dd><%= @plant.status_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to '返回',
              plants_path, :class => 'btn'  %>
  <%= link_to '编辑',
              edit_plant_path(@plant), :class => 'btn' %>
  <%= link_to '删除',
              plant_path(@plant),
              :method => 'delete',
              :data => { :confirm => '确认删除？' },
              :class => 'btn btn-danger' %>
</div>
