<%- model_class = FacilityCategory -%>
<div class="page-header">
  <h1>查看实训资产类目</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>名称:</strong></dt>
  <dd><%= @facility_category.name %></dd>
  <dt><strong>备注:</strong></dt>
  <dd><%= @facility_category.comments %></dd>
</dl>

<div class="form-actions">
  <%= link_to '返回',
              facility_categories_path, :class => 'btn', :remote => true  %>
  <%= link_to '编辑',
              edit_facility_category_path(@facility_category), :class => 'btn btn-primary', :remote => true %>
  <%= link_to '删除',
              facility_category_path(@facility_category),
              :method => 'delete',
              :data => { :confirm => '确认删除？' },
              :class => 'btn btn-danger', :remote => true %>
</div>
