<%- model_class = FieldStatus -%>
<div class="page-header">
  <h1>场地状态管理</h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th>状态</th>
    <th>是否可用</th>
    <th>属性</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <% @field_statuses.each do |field_status| %>
      <tr>
        <td><%= field_status.name %></td>
        <td><%= field_status.availability_name %></td>
        <td><%= field_status.systematic_name %></td>
        <td>
          <%= link_to '查看',
                      field_status_path(field_status), :class => 'btn btn-mini' %>
          <%= link_to '编辑',
                      edit_field_status_path(field_status), :class => 'btn btn-mini btn-primary' %>
          <%= link_to '删除',
                      field_status_path(field_status),
                      :method => :delete,
                      :data => { :confirm => '确认删除 '+field_status.name + '？' },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to '添加状态',
            new_field_status_path,
            :class => 'btn btn-primary' %>
