<dl class="dl-horizontal">
  <dt><strong>日期:</strong></dt>
  <dd><%= @course.date %></dd>
  <dt><strong>星期</strong></dt>
  <dd><%= @course.weekday %></dd>
  <dt><strong>课时:</strong></dt>
  <dd><%= @course.idx %></dd>
  <dt><strong>课程名称:</strong></dt>
  <dd><%= @course.title %></dd>
  <dt><strong>教师:</strong></dt>
  <dd><%= ApplicationHelper.get_teacher_name_by_id(@course.teacher_id) %></dd>
  <dt><strong>教室:</strong></dt>
  <dd><%= @course.field.name %></dd>
  <dt><strong>申请材料:</strong></dt>
  <% if (!@practice_record.course.facility_applications.any?) %>
      <dd>未申请材料</dd>
  <% end %>
  <% @practice_record.course.facility_applications.each do |builder| %>
      <dd><%= builder.facility.name + ' ' + builder.applied.to_s + ' ' + builder.facility.unit %></dd>
  <% end %>
</dl>

<%= form_for @practice_record, :html => {:class => 'form-horizontal'} do |f| %>
    <% if @practice_record.errors.any? %>
        <div id="error_explanation">
          <h2><%= t('errors.template.header',
                    :model => @practice_record.class.model_name.human,
                    :count => @practice_record.errors.count) %>
          </h2>
          <ul>
            <% @practice_record.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="control-group">
      <%= f.label '实训记录', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :record, :class => 'text_area', :rows => 8 %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit '确定', :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => '取消'),
                  practice_records_path, :class => 'btn' %>
    </div>
<% end %>
