<%- model_class = PracticeRecord -%>
<div class="page-header">
  <h1>实训记录</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>日期:</strong></dt>
  <dd><%= @course.date %></dd>
  <dt><strong>星期:</strong></dt>
  <dd><%= @course.weekday %></dd>
  <dt><strong>课程名称:</strong></dt>
  <dd><%= @course.title %></dd>
  <dt><strong>实训记录:</strong></dt>
  <dd><%= @practice_record.record %></dd>
  <dt><strong>状态:</strong></dt>
  <dd><%= @practice_record.record_review.get_status %></dd>
  <dt><strong>申请材料:</strong></dt>
  <% if (!@practice_record.course.facility_applications.any?) %>
      <dd>未申请材料</dd>
  <% end %>
  <% @practice_record.course.facility_applications.each do |builder| %>
      <dd><%= builder.facility.name + ' ' + builder.applied.to_s + ' ' + builder.facility.unit %></dd>
  <% end %>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => '返回'),
              practice_records_path, :class => 'btn' %>
  <%= link_to t('.edit', :default => '编辑'),
              edit_practice_record_path(@practice_record), :class => 'btn btn-primary' %>
</div>
