<%- model_class = Course -%>
<script type="text/javascript">
    ajax_redirect = function (url) {
        $.ajax({
            type: 'get',
            url: url,
            dataType: "script"
        });
    }
</script>
<div class="page-header">
  <h1>实训课程管理</h1>
</div>
<%= link_to '前一周', '/courses?week='+(@week_offset-1).to_s, :remote => true %>
<%= link_to '本周', '/courses', :remote => true %>
<%= link_to '下一周', '/courses?week='+(@week_offset+1).to_s, :remote => true %>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>课时</th>
    <% (@begin_date..@end_date).each do |d| %>
        <td>
          <%= d.to_formatted_s('%m-%d') %>
          <br/>
          <%= CommonController.get_weekday(d.wday) %>
        </td>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% (1..Course.course_num_per_day).each do |i| %>
      <tr>
        <td><%= i.to_s %></td>
        <% (0..6).each do |w| %>
            <% k = w*100+i %>
            <% if @courses_hash.has_key?(k) %>
                <% course = @courses_hash[k] %>
                <td
                class="<%= ApplicationHelper.get_style_class_name_by_course_status(course.course_review.status) %>"
                onmouseover="this.textContent='查看'"
                onmouseout="this.textContent='<%= course.cls %>'"
                onclick="ajax_redirect('<%= course_path(course) %>')">
                  <%= course.cls %>
                </td>
            <% else %>
                <% if @schedule_hash.has_key?(k) && !@courses_hash.has_key?(k) %>
                    <% schedule = @schedule_hash[k] %>
                    <td
                    class="schedule-pending-apply"
                    onmouseover="this.className='schedule-apply'; this.textContent='课前准备'"
                    onmouseout="this.className='schedule-pending-apply'; this.textContent='<%= schedule.cls %>'"
                    onclick="ajax_redirect('<%= new_course_path(
                              :dt => @begin_date+w,
                              :sch => schedule.id) %>')">
                      <%= schedule.cls %>
                    </td>
                <% else %>
                    <td
                    class="schedule-clean"
                    onmouseover="this.className='schedule-apply'; this.textContent='临时申请'"
                    onmouseout="this.className='schedule-clean'; this.textContent=''"
                    onclick="ajax_redirect('<%= new_course_path(:dt => @begin_date+w, :idx => i) %>')"></td>
                <% end %>
            <% end %>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to '申请课程',
            new_course_path,
            :class => 'btn btn-primary', :remote => true %>