<%- model_class = Field -%>
<div class="page-header">
  <h1>实训场地管理</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>场地</th>
      <th>状态</th>
      <th>是否可用</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @fields.each do |field| %>
      <tr>
        <td><%= field.name %></td>
        <td><%= field.field_status.name %></td>
        <td><%= field.field_status.availability_name %></td>
        <td>
          <%= link_to '查看',
                      field_path(field), :class => 'btn btn-mini' %>
          <%= link_to '编辑',
                      edit_field_path(field), :class => 'btn btn-mini btn-primary' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @fields %>

<%= link_to '添加场地',
            new_field_path,
            :class => 'btn btn-primary' %>
