<script type="text/javascript">
    $(function () {
        $('#bdp').datepicker({autoclose: true}).on('changeDate', function (ev) {
            $(this).datepicker('hide');
        });
        $('#edp').datepicker({autoclose: true}).on('changeDate', function (ev) {
            $(this).datepicker('hide');
        });
    });
</script>

<div class="page-header">
  <h1><a href="/reports/lost" style="text-decoration: none" data-remote="true">损失统计</a></h1>
</div>
<div class="controls-row">
  <%= form_tag '/reports/lost', :method => 'get', :remote => true %>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>统计开始时间</th>
      <th>统计结束时间</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><%= text_field_tag :dt, @begin_date.to_date, :class => 'text_field', :id => 'bdp' %></td>
      <td><%= text_field_tag :et, @end_date.to_date, :class => 'text_field', :id => 'edp' %></td>
      <td><%= submit_tag '生成报表', :class => 'btn btn-primary' %></td>
    </tr>
    </tbody>
  </table>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th NoWrap>资产名称</th>
    <th NoWrap>损失数量</th>
    <th NoWrap>损失成本</th>
    <th NoWrap>现有库存</th>
  </tr>
  </thead>
  <tbody>
  <% @reports.keys.each do |facility| %>
      <% report = @reports[facility] %>
      <tr>
        <td NoWrap><%= report.facility.name %></td>
        <td NoWrap><%= report.out_amount.to_s %></td>
        <td NoWrap><%= report.out_amount * facility.unit_price %></td>
        <td NoWrap><%= report.remaining.to_s %></td>
      </tr>
  <% end %>
  </tbody>
</table>
