<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>实训课程管理</title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'application', 'datepicker', 'paginate', 'base', :media => 'all' %>
  <%= javascript_include_tag 'application', 'bootstrap-datepicker', 'base' %>
</head>
<body>
<div id="header">
  <div class="grain">
    <a href="/index" id="logo">LOGO</a>
    <span class="user"><%= User.get_login_user_name_by_id(session[:user_id]) %></span>
    <%= link_to '退出', logout_url, :method => :delete, :confirm => '确定退出？', :class => 'logout' %>
  </div>
</div>

<div id="main">
  <div id="angle"></div>
  <table id="container" cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td id="left" valign="top">
        <div id="head">控制面板</div>
        <div style="display: <%= User.verify_is_teacher_by_id(session[:user_id]) ? 'block' : 'none' %>">
          <a href="#">我的实训课程</a>
          <ul>
            <li><a href="/courses">实训课程管理</a></li>
            <li><a href="/practice_records">实训记录管理</a></li>
          </ul>
        </div>
        <div style="display: <%= User.verify_is_store_admin_by_id(session[:user_id]) ? 'block' : 'none' %>">
          <a href="#">实训课程管理</a>
          <ul>
            <li><a href="/course_reviews">实训课程审批</a></li>
            <li><a href="/facility_returns">出入库管理</a></li>
            <li><a href="/scheduled_courses">实训排课系统</a></li>
          </ul>
        </div>
        <div style="display: <%= User.verify_is_store_admin_by_id(session[:user_id]) ? 'block' : 'none' %>">
          <a href="#">实训场地管理</a>
          <ul>
            <li><a href="/fields">实训场地管理</a></li>
            <li><a href="/plants">实训车间管理</a></li>
          </ul>
        </div>
        <div style="display: <%= User.verify_is_school_admin_by_id(session[:user_id]) || User.verify_is_store_admin_by_id(session[:user_id]) ? 'block' : 'none' %>">
          <a href="#">实训资产管理</a>
          <ul>
            <li><a href="/facilities">实训资产列表</a></li>
            <div style="display: <%= User.verify_is_store_admin_by_id(session[:user_id]) ? 'block' : 'none' %>">
              <li><a href="/facility_ios">实训库存管理</a></li>
            </div>
            <li><a href="/facility_alert">实训库存预警</a></li>
            <li><a href="/stockings">实训资产盘点</a></li>
          </ul>
        </div>
        <div style="display: <%= User.verify_is_store_admin_by_id(session[:user_id]) ? 'block' : 'none' %>">
          <a href="#">综合管理</a>
          <ul>
            <li><a href="/departments">实训部门管理</a></li>
            <li><a href="/facility_categories">实训资产类目管理</a></li>
            <li><a href="/facility_reasons">出入库事由管理</a></li>
            <li><a href="/field_statuses">实训场地状态管理</a></li>
          </ul>
        </div>
        <div style="display: <%= User.verify_is_school_admin_by_id(session[:user_id]) || User.verify_is_store_admin_by_id(session[:user_id]) ? 'block' : 'none' %>">
          <a href="#">实训报表管理</a>
          <ul>
            <li><a href="/reports/overall">综合报表</a></li>
            <li><a href="/reports/instore">增加统计</a></li>
            <li><a href="/reports/consume">消耗统计</a></li>
            <li><a href="/reports/lost">损失统计</a></li>
            <li><a href="/reports/category">材料分类统计</a></li>
            <li><a href="/reports/department">部门消耗统计</a></li>
            <li><a href="/reports/teacher">教师消耗统计</a></li>
            <li><a href="/facility_trace">实训库存跟踪</a></li>
          </ul>
        </div>
        <div style="display: <%= User.verify_is_sys_admin_by_id(session[:user_id]) ? 'block' : 'none' %>">
          <a href="#">权限控制</a>
          <ul>
            <li><a href="/users">用户管理</a></li>
            <!--<li><a href="/user_role_mappings">用户授权</a></li>-->
          </ul>
        </div>
      </td>
      <td id="center" valign="middle">
        <a href="#" id="toggle"></a>
      </td>
      <td id="right" valign="top">
        <div id="content">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </td>
    </tr>
  </table>
  <footer>
    <p>&copy; 实训课程管理系统 2013</p>
  </footer>
</div>

</div>
</body>
</html>
