<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>实训课程管理</title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'application', :media => 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
<body>
<div id="header">
  <div class="grain">
    <a href="/" data-remote="true" id="logo">LOGO</a>
    <span class="user"><%= User.get_login_user_name_by_id(session[:user_id]) %></span>
    <%= link_to '退出', logout_url, :method => :delete, :confirm => '确定退出？', :class => 'logout' %>
  </div>
</div>

<div id="main">
  <div id="angle"></div>
  <table id="container" cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td id="left" valign="top">
        <div id="head">控制面板</div>
        <div style="display: <%= User.verify_is_teacher_by_id(session[:user_id]) ? 'block' : 'none' %>">
          <a href="#">我的实训课程</a>
          <ul>
            <li><%= link_to '实训课程管理', courses_path, :remote => true %></li>
            <li><%= link_to '实训记录管理', practice_records_path, :remote => true %></li>
          </ul>
        </div>
        <div style="display: <%= User.verify_is_store_admin_by_id(session[:user_id]) ? 'block' : 'none' %>">
          <a href="#">实训课程管理</a>
          <ul>
            <li><%= link_to '实训课程审批', course_reviews_path, :remote => true %></li>
            <li><%= link_to '出入库管理', facility_returns_path, :remote => true %></li>
            <li><%= link_to '实训排课系统', scheduled_courses_path, :remote => true %></li>
            <li><%= link_to '未归还材料列表', '/facility_returns/outstanding', :remote => true %></li>
          </ul>
        </div>
        <div style="display: <%= User.verify_is_store_admin_by_id(session[:user_id]) ? 'block' : 'none' %>">
          <a href="#">实训场地管理</a>
          <ul>
            <li><%= link_to '实训场地管理', fields_path, :remote => true %></li>
          </ul>
        </div>
        <div style="display: <%= User.verify_is_school_admin_by_id(session[:user_id]) || User.verify_is_store_admin_by_id(session[:user_id]) ? 'block' : 'none' %>">
          <a href="#">实训资产管理</a>
          <ul>
            <div style="display: <%= User.verify_is_store_admin_by_id(session[:user_id]) ? 'block' : 'none' %>">
              <li><%= link_to '实训资产列表', facilities_path, :remote => true %></li>
              <li><%= link_to '实训库存管理', facility_ios_path, :remote => true %></li>
            </div>
            <li><%= link_to '实训库存预警', '/facility_alert', :remote => true %></li>
            <div style="display: <%= User.verify_is_store_admin_by_id(session[:user_id]) ? 'block' : 'none' %>">
              <li><%= link_to '实训资产盘点', '/stockings', :remote => true %></li>
            </div>
          </ul>
        </div>
        <div style="display: <%= User.verify_is_store_admin_by_id(session[:user_id]) ? 'block' : 'none' %>">
          <a href="#">综合管理</a>
          <ul>
            <li><%= link_to '实训部门管理', departments_path, :remote => true %></li>
            <li><%= link_to '实训资产类目管理', facility_categories_path, :remote => true %></li>
            <li><%= link_to '出入库事由管理', facility_reasons_path, :remote => true %></li>
            <li><%= link_to '实训场地状态管理', field_statuses_path, :remote => true %></li>
          </ul>
        </div>
        <div style="display: <%= User.verify_is_school_admin_by_id(session[:user_id]) || User.verify_is_store_admin_by_id(session[:user_id]) ? 'block' : 'none' %>">
          <a href="#">实训报表管理</a>
          <ul>
            <li><%= link_to '综合报表', '/reports/overall', :remote => true %></li>
            <li><%= link_to '增加统计', 'reports/instore', :remote => true %></li>
            <li><%= link_to '消耗统计', '/reports/consume', :remote => true %></li>
            <li><%= link_to '损失统计', '/reports/lost', :remote => true %></li>
            <li><%= link_to '分类统计', '/reports/category', :remote => true %></li>
            <li><%= link_to '部门消耗统计', '/reports/department', :remote => true %></li>
            <li><%= link_to '教师消耗统计', '/reports/teacher', :remote => true %></li>
            <li><%= link_to '实训库存跟踪', '/facility_trace', :remote => true %></li>
          </ul>
        </div>
        <div style="display: <%= User.verify_is_sys_admin_by_id(session[:user_id]) ? 'block' : 'none' %>">
          <a href="#">权限控制</a>
          <ul>
            <li><%= link_to '用户管理', '/users', :remote => true %></li>
          </ul>
        </div>
      </td>
      <td id="center" valign="middle">
        <a href="#" id="toggle"></a>
      </td>
      <td id="right" valign="top">
        <div id="content">
          <%= bootstrap_flash %>
          <div id="yield_content">
            <%= yield %>
          </div>
        </div>
      </td>
    </tr>
  </table>
  <footer>
    <p>&copy; 实训课程管理系统 2013</p>
  </footer>
</div>

</div>
</body>
</html>
